*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: white;
    transition: 500ms;
    text-align: center;
}

.container{
    background-color: lightskyblue;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.small-container{
    border-radius: 25px;
    background-color: white;
    height: 50vh;
    width: 1000px;
    gap: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-container:hover{
    scale: 1.05;
}

p{
    background-color: lightskyblue;
    font-size: 40px;
    font-weight: 700;
    padding: 20px 30px;
    border-radius: 25px;
}

#prezzoFinale::after{
    content: '€';
}

p:hover{
    scale: 1.1;
    background-color: lightgreen;
}


#container_sconto{
    position: relative;
}

#scontoDel{
    font-size: 20px;
    padding: 10px 15px;
}

#sconto_popup{
    position: absolute;
    color: transparent;
    background-color: transparent;
    font-size: 16px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transition: 1s;
    padding: 10px 15px;
}

#container_sconto:hover>#sconto_popup{
    color: white;
    background-color: lightgreen;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


