*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: white;
    transition: 500ms;
}

.container{
    background-color: lightskyblue;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.small-container{
    border-radius: 25px;
    background-color: white;
    height: 50vh;
    width: 1000px;
    padding: 10vh 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

p{
    background-color: lightskyblue;
    font-size: 40px;
    font-weight: 700;
    padding: 20px 30px;
    border-radius: 25px;
}

#prezzoFinale::after{
    content: '€';
}

p:hover{
    scale: 1.2;
}
